{% extends "base.html" %}
{% load static %}

{% block 'title' %} 
    Buy - Cadastrar
{% endblock 'title'%}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}">
{% endblock 'head' %}

{% block 'body' %}

    <div class="centralizar">
        <div class="container">
            <div class="logo">
                <img class="logo-foto" src="/static/geral/img/logo-buy.png" alt="Logo da agência">
            </div><!--logo-->
            
            {% if messages %}
                {% for message in messages  %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}

            <div class="form-grid">
                <form action="{% url 'cadastro' %}" method="POST" class="login-form">{% csrf_token %}
                    <input type="text" name="username" placeholder="Nome de usuário">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="senha" placeholder="Senha">
                    <input type="password" name="confirmar_senha" placeholder="Confirmar senha">
                    <div class="footer">
                        <a href="{% url 'login' %}" class="link-conta">Já possuo uma conta</a>
                        <input type="submit" class="btn-login" value="Cadastrar">
                    </div><!--footer-->
                </form>
            </div><!--grind-->
        </div><!--container-->
    </div><!--centralizar-->

{% endblock 'body' %}